*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Georgia;
}


#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-titulo span{
    color: green;
}

.blog-titulo h3{
    font-size: 3.4rem;
    font-weight: 600;
}
